$primary-color: #cfd6e1;
$bg-color: #dce1e5;
$title-color: #9ac7fa;
$font-stack-content: "Montserrat", helvetica, arial, sans-serif;
$font-stack-header: "Montserrat", helvetica, arial, sans-serif;
$secondary-color: #2a9fff;
